@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{

    margin:  0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;


}

body{

    min-height:100vh;
    background :url(Counselling_pic.jpg)no-repeat;
    background-size:cover;
    background-position: center;


}

.side-bar{
    background:rgba(255,255,255,0.1);
    backdrop-filter:blur(15px);
    width:290px;
    height:100vh;
    position:fixed;
    top: 0;
    left: 0;
    overflow-y:auto;




}

.side-bar menu{
  width:100%;
  margin-top: 80px;

}


.side-bar .menu .item{
 
    position:relative;
    cursor: pointer;

}


.side-bar .menu .item a{
 
   color:  #fff;
   background:lightblue;
   font-size: 16px;
   text-decoration:none;
   display:block;
   padding: 5px 30px;
   line-height: 60px;

}






